.content {
  background-color: #222222;
  padding-top: 20px;
  padding-bottom: 80px;
}
.logo-fw {
  width: 50px;
}
.header.header {
  background-color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 3), 0 8px 16px rgba(0, 0, 0, 3);
}
.Fw-form {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 3), 0 8px 16px rgba(0, 0, 0, 3);
  margin: auto;
  width: 500px;
  background-color: #333333;
  margin-top: 80px;
}
.Fw-label {
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-top: -15px;
  padding: 18px 16px 18px 18px;
  color: black;
}
.Fw-body {
  margin: 16px;
  padding: 0;
}
.Fw-button {
  border-radius: 0 0 8px 8px;
  padding: 16px;
}
.label-request {
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 16px;
}
.find-accout {
  border-radius: 6px;
  font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 45px;
  margin-bottom: 0;
  padding: 8px 0 8px 16px;
  width: 464px;
  background-color: #222222;
}
.button-cancel {
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 36px;
  margin-left: 8px;
  padding: 0 20px;
  color: black;
  text-decoration: none;
  &:hover {
    background-color: #aeb2b6;
  }
}
.button-search {
  background: linear-gradient(rgb(23, 234, 217) 0%, rgb(96, 120, 234) 100%);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 36px;
  margin-left: 8px;
  padding: 0 20px;
  color: white;
}
.button-login {
  background: linear-gradient(rgb(23, 234, 217) 0%, rgb(96, 120, 234) 100%);
  border-radius: 6px;
  font-size: 15px;
  width: 80px;
  height: 40px;
  text-align: center;
}

.header-left-logo {
  width: 50%;
}
.foster {
  background-color: #fff;
  height: 210px;
}
