/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  border-radius: 4px;
  cursor: pointer;
}

.modal-comment {
  top: 54px;
  left: 529px;
}

.modal-content-comment {
  background-color: gray;
  padding: 5px;
  border-radius: 8px;
  width: auto;
}

.modal-button-detele {
  margin-top: 12px;
  margin-left: 5px;
}
